<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/my.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id={% block id %}{% endblock %} class="backgroundPosition">
        <div id="header">
            <div class="container">
                <h1 class="display-5">Scientific Articles Crawler and Processing Application</h1>
                <p class="lead">An introduction to web scraping.</p>
            </div>
        </div>
            {% block content %}
            {% endblock %}
        <div id="footer">
            <div class="container">
                <p><strong>©Copyright 2021. All rights reserved</strong></p>
            </div>
        </div>
    </body>
</html>