{% extends "index.html" %}
{% block title %}
    Login
{% endblock %}
{% block id %}
    login
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron jumboPosition" style="margin-top: 150px;">
                    <h1 style="text-align: center;">Login</h1><br/>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <dl class="alert alert-info" role="alert" style="text-align: center;">
                            {% for message in messages: %}
                            <dt>{{ message }}</dt>
                            {% endfor %}
                        </dl>
                        {% endif %}
                    {% endwith %}
                    <form action="#" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="email" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Password:</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="password" name="password" class="form-control" required/>
                                </div>
                            </div>
                        </div><br/>
                        <button type="submit" class="btn btn-success">Login</button>
                        <button type="button" class="btn btn-primary" onclick="register()">Register</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script>
        function register(){
            window.location.href = "{{url_for('register')}}";
        }
    </script>
{% endblock %}